.rightPanelSticker {
    position: fixed;
    top: 45%;
    right: 0;
    background-color: #fff;
    border-right: 1px solid #ccc;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-top-right-radius: 2px;
    border-bottom-right-radius: 2px;
    writing-mode: vertical-rl;
    transform: rotate(-180deg);
    font-size: 0.9em;
    font-weight: 600;
    padding: 8px 4px;
    cursor: pointer;
    z-index: 10;
}

.rightPanel {
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    background-color: #fff;
    width: 0;
    z-index: 10;
    border-left: 1px solid #ccc;
    overflow: auto;
}