.site-tag-plus {
    background: #fff;
    border-style: dashed;
    margin-bottom: 8px;
}
.edit-tag {
    user-select: none;
    margin-bottom: 8px;
}
.tag-input {
    width: 78px;
    font-size: 13px;
    margin-right: 8px;
    margin-bottom: 8px;
    vertical-align: top;
}