.pageHeader {
    padding: 16px;
}

.toolbarBtn {
    font-size: 18px;
    cursor: pointer;
    margin: 8px 0;
}

.centerChildContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}
