.pageHeader {
    padding: 0 16px;
}

.title {
    flex-wrap: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.subTitle {
    color: rgba(0, 0, 0, 0.65);
    min-height: 22px;
    margin-block-start: -16px;
}

.toolbarBtn {
    font-size: 18px;
    cursor: pointer;
    margin: 8px 0;
}

.centerChildContainer {
    display: flex;
    align-items: center;
    justify-content: center;
}

.dashContent {
    margin: 16px 16px 0 16px;
}
