.ant-table-thead .ant-input,
.ant-table-thead .ant-input:hover,
.ant-table-thead .ant-input:focus {
    border: 0 none;
}

.ant-table-thead .ant-input,
.ant-table-thead .ant-input:hover {
    background: #e6f7ff;
}

.ant-table-thead .ant-input:focus {
    background: #ffffff;
    box-shadow: none;
}