.toolbar {
    margin-bottom: 12px;
}

.toolbarBtn {
    font-size: 18px;
    cursor: pointer;
    margin: 4px;
}

.pagination {
    margin: 12px 4px;
    /*text-align: right;*/
}

.tableContent {
    /*border: 1px solid #cccccc;*/
    border-radius: 0;
    overflow: auto hidden;
}

.tableColumnTitle {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.columnFilter {
    border-top: 1px solid #cccccc;
    border-bottom: 2px solid #cccccc;
    margin-top: 8px;
    margin-left: -8px;
    margin-right: -8px;
}

.tr {
    display: flex;
    width: fit-content;
    user-select: none;
}

.tbody .tr:hover {
    background: #fefbd7;
}

.tbody .tr.selected {
    background: #fef7af;
}

.tbody .tr.selected:hover {
    background: #fef386;
}

.resizer {
    position: absolute;
    right: -2px;
    top: 0;
    height: 100%;
    width: 4px;
    background: rgba(0, 0, 0, 0.5);
    cursor: col-resize;
    user-select: none;
    touch-action: none;
    opacity: 0;
    z-index: 1;
}

.resizer:hover {
    opacity: 1;
}

.resizer.isResizing {
    background: blue;
    opacity: 1;
}
