.ant-table-thead>tr>th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan]):before {
    height: 0;
}

.ant-table.ant-table-small .ant-table-thead > tr > th,
.ant-table.ant-table-middle .ant-table-thead > tr > th {
    border-bottom: 1px solid #cccccc
}

.ant-table.ant-table-small .ant-table-thead > tr > th.has-filter,
.ant-table.ant-table-middle .ant-table-thead > tr > th.has-filter {
    padding-bottom: 0;
}

.ant-table-container table>thead>tr:first-child th:first-child {
    border-top-left-radius: 0;
}

.ant-table-container table>thead>tr:first-child th:last-child {
    border-top-right-radius: 0;
}

.ant-table-thead>tr>th {
    /*background: #eeeeee;*/
    border-left: 1px solid #cccccc;
}

.ant-table-thead>tr>th:first-child {
    border-left: 0 none;
}

.ant-table-thead>tr>th:hover,
.ant-table-thead th.ant-table-column-has-sorters:hover {
    /*background: #e7e9ee;*/
}

.ant-table-thead .ant-input,
.ant-table-thead .ant-input:hover,
.ant-table-thead .ant-input:focus {
    border: 0 none;
}

.ant-table-thead .ant-input,
.ant-table-thead .ant-input:hover {
    /*background: #dde7f5;*/
    background: #e6f7ff;
}

.ant-table-thead .ant-input:focus {
    background: #ffffff;
    box-shadow: none;
}
