.ant-table-thead>tr>th:not(:last-child):not(.ant-table-selection-column):not(.ant-table-row-expand-icon-cell):not([colspan]):before {
    height: 3.2em;
}

.ant-table-column-sorters {
    align-items: flex-start;
}

.ant-table-column-sorter {
    margin-top: 2px;
}