.Bi {
  min-height: 100vh;
}

.Bi-logo-wrapper {
  height: 32px;
  margin: 16px;
}

.Bi-logo {
  height: 32px;
  pointer-events: none;
  margin: 0 8px;
}

.Bi-logo-text {
  position: relative;
  top: 1px;
  color: #fff;
  font-weight: 600;
  font-size: 16px;
}

.Bi-content-wrapper {
  margin: 12px;
}

.Bi-content {
  min-height: 95vh;
}

.Bi-page-content {
  padding: 16px;
  background: #fff;
  min-height: 90vh;
}