.fieldTypeIconWrapper {
    display: inline;
    border: 2px solid #999999;
    border-radius: 4px;
    padding: 0 2px;
    font-size: 7pt;
    /*opacity: 0.7;*/
}

.fieldTypeIcon {
    color: #6c757d;
}