.fieldItem {
    position: relative;
    padding: 4px;
    cursor: move;
    /*border-radius: 4px;*/
    /*white-space: nowrap;*/
    /*overflow: hidden;*/
    /*text-overflow: ellipsis;*/
}

.fieldItem:hover {
    background-color: #eeeeee
}

.fieldItem_fnBtn {
    position: absolute;
    bottom: 3px;
    display: none;
}

.fieldItem_removeBtn {
    position: absolute;
    bottom: 3px;
    display: none;
}

.fieldItem:hover .fieldItem_fnBtn {
    display: block;
}

.fieldItem:hover .fieldItem_removeBtn {
    display: block;
}