.fieldWidget {
    position: relative;
    padding: 3px;
    margin-top: 4px;
    border-width: 1px;
    border-style: solid;
    border-radius: 4px;
    background: #ededed;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.fieldWidget_sortBtn {
    position: absolute;
    bottom: 2px;
    right: 2px;
}

.fieldWidget_removeBtn {
    position: absolute;
    bottom: 2px;
    right: 2px;
    display: none;
}

.fieldWidget:hover .fieldWidget_removeBtn {
    display: block;
}