.layout {}

.layout:has(.editable) {
    background-color: #eee;
}

.layout .layoutItem {
    background-color: #fff;
    padding: 8px;
    user-select: none;
    overflow: hidden;
}

.layout .dashWrapper {}

.layout .dashWrapper .editable {
    border: 1px solid #ccc;
    cursor: pointer;
}

.layout .dashWrapper:hover {
    /*background-color: #fefbd7;*/
}
