.layout {}

.layout:has(.editable) {
    background-color: #eee;
}

.layout .dashWrapper {
    padding: 8px;
    background-color: #fff;
    user-select: none;
    overflow: hidden;
}

.layout .dashWrapper .editable {
    border: 1px solid #ccc;
    cursor: pointer;
}

.layout .dashWrapper:hover {
    /*background-color: #fefbd7;*/
}

.layout .dashWrapper.activeDash {
    /*background-color: #fef7af;*/
}

.layout .dashWrapper.activeDash:hover {
    /*background-color: #fef386;*/
}
