.tablesPane {
    margin: 4px 8px;
}

.filterInput {
    margin-bottom: 8px;
}

.tableItem {
    padding: 2px 4px;
    cursor: move;
}

.tableItem:hover {
    /*background: #fefbd7;*/
}

.tableWidget {
    position: absolute;
    padding: 3px 3px 0 10px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    background: #ededed;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tableHeader {
    padding: 0 12px 3px 12px;
    border: 1px solid #cccccc;
    border-radius: 4px;
    background: #ededed;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.tableWidget_deleteBtn {
    position: absolute;
    bottom: 3px;
    right: 3px;
}

.pagination {
    margin: 12px 4px;
}

.sourcesConstructor {
    margin: 4px 8px;
    min-height: 400px;
}

.sourcesConstructor_content {
    position: absolute;
}

.sourcesConstructor_content_pane {
    position: absolute;
}

.lineHorizontal {
    position: absolute;
    border-top: 2px solid #cccccc;
    height: 2px;
    cursor: pointer;
}

.lineVertical {
    position: absolute;
    border-left: 2px solid #cccccc;
    width: 2px;
    cursor: pointer;
}

.lineHorizontal.invalid {
    border-top: 2px dashed #dc3545;
}

.lineHorizontal.valid {
    border-top: 2px solid #28a745;
}

.lineVertical.invalid {
    border-left: 2px dashed #dc3545;
}

.lineVertical.valid {
    border-left: 2px solid #28a745;
}

.joinTypeFormItem {
    margin-top: -4px;
}