.tablesPane {
    margin: 4px 8px;
}

.tablesTree {
    height: 440px;
    overflow: auto;
}

.filterInput {
    width: 100%;
    margin-bottom: 8px;
}

.pagination {
    margin: 16px 4px;
    padding-top: 12px;
    /*text-align: right;*/
    border-top: 1px solid #dddddd;
}

.useDesignerCheckbox {
    margin: 4px 8px 16px 8px;
}
