.navbarSider {
    overflow: auto;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    bottom: 0;
}

.navbarLogoWrapper {
    height: 32px;
    margin: 16px;
    cursor: pointer;
}

.navbarLogo {
    height: 32px;
    pointer-events: none;
    margin: 0 8px;
}

.navbarLogoText {
    position: relative;
    top: 1px;
    color: #fff;
    font-weight: 600;
    font-size: 16px;
}