.Analysis {
  min-height: 100vh;
}

.Analysis-profile-menu-item {
  /*color: #fff;*/
  /*font-size: 16px;*/
  /*font-weight: 600;*/
}

.Analysis-content-wrapper {
  margin: 12px;
}

.Analysis-content {
  min-height: 95vh;
}

.Analysis-page-content {
  padding: 16px;
  background: #fff;
  min-height: 90vh;
}