a.badge-label, a.badge-label:active, a.badge-label:hover {
  color: rgba(0, 0, 0, 0.65);
}

.badge-label {
  border-radius: 4px;
  background: #eee;
  display: inline-block;
  padding: 4px 8px;
}

.row-current {
  background: #e6f7ff;
}

.row-disabled {
  color: #999999;
}

.filter-dropdown {
  padding: 8px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .15);
}

.filter-dropdown input {
  width: 188px;
  margin-bottom: 8px;
  display: block;
}

.filter-dropdown button {
  width: 90px;
}

.right {
  text-align: right;
}

/* Colors */
.black, a.black:hover {
  color: #343a40;
}

.gray, a.gray:hover {
  color: #6c757d;
}

.red, a.red:hover {
  color: #dc3545;
}

.green, a.green:hover {
  color: #28a745;
}

.blue, a.blue:hover {
  color: #007bff;
}

/*Ant Design*/
.ant-link:focus {
  text-decoration: none;
}

form.ant-form-horizontal .ant-form-item-label {
  text-align: left;
}

.ant-badge:not(.ant-badge-status) {
  margin-right: 20px;
}

.ant-menu-submenu-title .ant-avatar > .anticon {
  margin: 0;
}

.pages.ant-tabs-top > .ant-tabs-nav {
  margin: 0;
}

/*.pages.ant-tabs-top > .ant-tabs-nav .ant-tabs-tab {*/
/*  border-bottom-width: 0;*/
/*}*/

.page-content {
  padding: 16px;
  background: #fff;
}

.fullscreen-enabled {
  background: #fff;
}
