a.badge-label, a.badge-label:active, a.badge-label:hover {
  color: rgba(0, 0, 0, 0.65);
}

.badge-label {
  border-radius: 4px;
  background: #eee;
  display: inline-block;
  padding: 4px 8px;
}

.row-current {
  background: #e6f7ff;
}

.row-disabled {
  color: #999999;
}

.filter-dropdown {
  padding: 8px;
  border-radius: 4px;
  background: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .15);
}

.filter-dropdown input {
  width: 188px;
  margin-bottom: 8px;
  display: block;
}

.filter-dropdown button {
  width: 90px;
}

.right {
  text-align: right;
}

.tab-label-suffix {
  margin: 0 0 0 8px !important;
}

/* Colors */
.black, .black:hover, .black:focus, a.black:hover, a.black:focus {
  color: #343a40;
}

.gray, .gray:hover, .gray:focus, a.gray:hover, a.gray:focus {
  color: #6c757d;
}

.red, .red:hover, .red:focus, a.red:hover, a.red:focus {
  color: #dc3545;
}

.green, .green:hover, .green:focus, a.green:hover, a.green:focus {
  color: #28a745;
}

.blue, .blue:hover, .blue:focus, a.blue:hover, a.blue:focus {
  color: #007bff;
}

.orange, .orange:hover, .orange:focus, a.orange:hover, a.orange:focus {
  color: #faad14;
}

/*Ant Design*/
.ant-link:focus {
  text-decoration: none;
}

form.ant-form-horizontal .ant-form-item-label {
  text-align: left;
}

.ant-badge:not(.ant-badge-status) {
  margin-right: 20px;
}

.ant-menu-submenu-title .ant-avatar > .anticon {
  margin: 0;
}

.pages.ant-tabs-top > .ant-tabs-nav {
  margin: 0;
}

.mdi-tab-title {
  display: inline-block;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
